FMS.TestConsole/Service References/sr1/Uniqco_Integrator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Uniqco_Integrator" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IUniqco_Integrator_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://serviceaccess.nanosoft.com.au/Uniqco_Integrator.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://serviceaccess.nanosoft.com.au/Uniqco_Integrator.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://serviceaccess.nanosoft.com.au/Uniqco_Integrator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FMS.ServiceAccess.WebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUniqco_Integrator_CreateToken_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateToken" />
  </wsdl:message>
  <wsdl:message name="IUniqco_Integrator_CreateToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IUniqco_Integrator_GetVehicleData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleData" />
  </wsdl:message>
  <wsdl:message name="IUniqco_Integrator_GetVehicleData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVehicleDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IUniqco_Integrator">
    <wsdl:operation name="CreateToken">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniqco_Integrator/CreateToken" message="tns:IUniqco_Integrator_CreateToken_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniqco_Integrator/CreateTokenResponse" message="tns:IUniqco_Integrator_CreateToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetVehicleData">
      <wsdl:input wsaw:Action="http://tempuri.org/IUniqco_Integrator/GetVehicleData" message="tns:IUniqco_Integrator_GetVehicleData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUniqco_Integrator/GetVehicleDataResponse" message="tns:IUniqco_Integrator_GetVehicleData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpsBinding_IUniqco_Integrator" type="tns:IUniqco_Integrator">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IUniqco_Integrator_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateToken">
      <soap:operation soapAction="http://tempuri.org/IUniqco_Integrator/CreateToken" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetVehicleData">
      <soap:operation soapAction="http://tempuri.org/IUniqco_Integrator/GetVehicleData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Uniqco_Integrator">
    <wsdl:port name="BasicHttpsBinding_IUniqco_Integrator" binding="tns:BasicHttpsBinding_IUniqco_Integrator">
      <soap:address location="https://serviceaccess.nanosoft.com.au/Uniqco_Integrator.svc/Uniqco_Integrator" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>