FMS.WEB/Service References/UniqcoIntegrator/Uniqco_Integrator32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://windows-vultr:999/Uniqco_Integrator.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FMS.ServiceAccess.WebServices" />
  <xs:element name="CreateToken">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="expiry" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FMS.ServiceAccess.WebServices" minOccurs="0" name="CreateTokenResult" nillable="true" type="q1:TokenResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FMS.ServiceAccess.WebServices" minOccurs="0" name="VIN_Numbers" nillable="true" type="q2:ArrayOfVINNumberRequest" />
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVehicleDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FMS.ServiceAccess.WebServices" minOccurs="0" name="GetVehicleDataResult" nillable="true" type="q3:GetVehicleData_Response" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>